<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zhen77.mapper.UsersMapper">
    <resultMap id="infoAll" type="users">
        <id column="uid" property="uid"/>
        <result column="uname" property="uname"/>
        <result column="address" property="address"/>

        <collection property="orders" ofType="orders">
            <id column="oid" property="oid"/>
            <result column="orderid" property="orderid"/>
            <result column="status" property="status"/>

            <collection property="orderDetail" ofType="orderdetail">
                <id column="odid" property="odid"/>
                <result column="itemnum" property="itemnum"/>

                <association property="items" javaType="items">
                    <id column="iid" property="iid"/>
                    <result column="name" property="name"/>
                    <result column="detail" property="detail"/>
                    <result column="price" property="price"/>
                </association>
            </collection>
        </collection>
    </resultMap>

    <select id="selectAll" parameterType="int" resultMap="infoAll">
        select u.uname,u.uid,u.address,
        o.orderid,o.createtime,o.status,
        od.itemnum,
        i.name,i.detail,i.price
        from users u inner join orders o    on u.uid=o.userid
                     inner join orderdetail od    on o.orderid=od.orderid
                     inner join items i    on od.itemid=i.iid
        where u.uid=#{uid}


    </select>



    <!--用于分组 获得一共有多少条数据-->
    <select id="selectCount" resultType="int" >
        select count(uid) from users
    </select>

    <!--用于分组 获得当前页 显示的集合信息-->
    <select id="selectUserByPage" parameterType="cn.zhen77.util.Page" resultType="users">
        <bind name="beginindex" value="(pageindex-1)*showdata"/>
        select * from users order by uid limit #{beginindex},#{showdata}
    </select>

</mapper>