<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http:/m/ybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mybatis.example.BlogMapper">
    <select id="selectAllDept" resultType="dept">
        select * from dept
    </select>

    <!-- 根据部门编号 查询部门信息-->
    <select id="selectDeptById" parameterType="int" resultType="dept">
        select * from dept where deptno = #{id}
    </select>
<!--    <select id="selectDept" parameterType="int" resultType="dept">-->
<!--        SELECT * FROM Dept WHERE deptno = #{id}-->
<!--    </select>-->
    <insert id="insertDept" parameterType="dept">
        insert into dept(deptno,dname,loc) values(#{deptno},#{dname},#{loc})
    </insert>
    <insert id="insertUseGeneratedKeys" parameterType="dept" useGeneratedKeys="true" keyProperty="deptno">
        insert into dept(dname,loc) values(#{dname},#{loc})
    </insert>
    <update id="updateDeptById" parameterType="dept">
        update dept set loc=#{loc} where deptno=#{deptno}
    </update>
    <delete id="delDeptById" parameterType="int">
        delete from dept where deptno = #{deptno}
    </delete>
</mapper>