<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans    http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--创建UserServiceImp对象-->
    <bean id="usi" class="cn.zhen77.aop.proxy01.UserServiceImpl"></bean>

    <!-- 创建UserServiceProxy对象-->
    <bean id="proxy" class="cn.zhen77.aop.proxy01.UserServiceProxy"/>
</beans>