<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.msb.mapper.EmpMapper" >
  <resultMap id="BaseResultMap" type="com.msb.pojo.Emp" >
    <result column="empno" property="empno" jdbcType="INTEGER" />
    <result column="ename" property="ename" jdbcType="VARCHAR" />
    <result column="job" property="job" jdbcType="VARCHAR" />
    <result column="mgr" property="mgr" jdbcType="INTEGER" />
    <result column="hiredate" property="hiredate" jdbcType="TIMESTAMP" />
    <result column="sal" property="sal" jdbcType="DOUBLE" />
    <result column="comm" property="comm" jdbcType="DOUBLE" />
    <result column="deptno" property="deptno" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insert" parameterType="com.msb.pojo.Emp" >
    insert into emp (empno, ename, job, 
      mgr, hiredate, sal, 
      comm, deptno)
    values (#{empno,jdbcType=INTEGER}, #{ename,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, 
      #{mgr,jdbcType=INTEGER}, #{hiredate,jdbcType=TIMESTAMP}, #{sal,jdbcType=DOUBLE}, 
      #{comm,jdbcType=DOUBLE}, #{deptno,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.msb.pojo.Emp" >
    insert into emp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="empno != null" >
        empno,
      </if>
      <if test="ename != null" >
        ename,
      </if>
      <if test="job != null" >
        job,
      </if>
      <if test="mgr != null" >
        mgr,
      </if>
      <if test="hiredate != null" >
        hiredate,
      </if>
      <if test="sal != null" >
        sal,
      </if>
      <if test="comm != null" >
        comm,
      </if>
      <if test="deptno != null" >
        deptno,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="empno != null" >
        #{empno,jdbcType=INTEGER},
      </if>
      <if test="ename != null" >
        #{ename,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="mgr != null" >
        #{mgr,jdbcType=INTEGER},
      </if>
      <if test="hiredate != null" >
        #{hiredate,jdbcType=TIMESTAMP},
      </if>
      <if test="sal != null" >
        #{sal,jdbcType=DOUBLE},
      </if>
      <if test="comm != null" >
        #{comm,jdbcType=DOUBLE},
      </if>
      <if test="deptno != null" >
        #{deptno,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
</mapper>