<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zhen77.mapper.EmpMapper" >

<!--    什么使用where  当SQL语句后面一定能存在一个条件就用where语句-->
<!--    否则就用where标签-->

    <select id="selectEmpBySalename" parameterType="emp" resultType="emp"   >

        select * from emp
        <where>
            <if test="sal != null">
                and sal <![CDATA[ <= ]]> '${sal}'
            </if>

            <if test="ename != null">
                --           and ename=#{ename}
                and ename like '%${ename}%'
            </if>
        </where>

    </select>
    <select id="seletctEmpByinfo" resultType="emp" parameterType="emp">
        select * from emp where
        <choose>
            <when test="sal !=null">
                sal <![CDATA[<=]]>#{sal}
            </when>
            <when test="ename!=null">
                ename like concat('%','${ename}','%')<!--进行模糊查询-->
            </when>
            <otherwise>
                deptno=#{deptno}
            </otherwise>

        </choose>
    </select>

    <insert id="insertEmp" parameterType="emp">
        <!-- insert into 表名(列,列,列) values(值,值,值)-->

        insert into emp
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="empno!=null">
                empno,
            </if>
            <if test="ename!=null">
                ename,
            </if>
            <if test="mgr!=null">
                mgr,
            </if>
            <if test="sal!=null">
                sal,
            </if>
            <if test="deptno!=null">
                deptno,
            </if>

        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="empno!=null">
                #{empno},
            </if>
            <if test="ename!=null">
                #{ename},
            </if>
            <if test="mgr!=null">
                #{mgr},
            </if>
            <if test="sal!=null">
                #{sal},
            </if>
            <if test="deptno!=null">
                #{deptno},
            </if>

        </trim>

    </insert>
    <update id="updateEmp" parameterType="emp">
        <!-- update emp set 列=值, 列=值, 列=值, where 列=值,列=值 -->

        update emp
        <set>
            <if test="sal != null">
                sal=#{sal},
            </if>
            <if test="mgr !=null">
                mgr=#{mgr},
            </if>
            <if test="ename!=null">
                ename=#{ename},
            </if>
        </set>
        <where>
            <if test="empno!=null">
                and empno=#{empno}
            </if>
            <if test="job!=null">
                and job=#{job}
            </if>
        </where>
    </update>
    <!--
    <select id="selectEmpByList" parameterType="java.util.List" resultType="emp">
    select * from emp
        <where>
            <foreach collection="list" open="(" close=")" item="empno" separator="or">
                empno=#{empno}
            </foreach>
        </where>
    </select>-->
    <select id="selectEmpByList" parameterType="java.util.List" resultType="emp">
        select * from emp where empno in

            <foreach    collection="list" open="(" close=")" item="empno" separator=",">
                #{empno}
            </foreach>

    </select>
    <select id="selectEmpByArray" parameterType="java.util.List" resultType="emp">
        select * from emp
        <where>
            <foreach collection="array" open="(" close=")" item="empno" separator="or">
                empno=#{empno}
            </foreach>
        </where>
    </select>
</mapper>